<!DOCTYPE html>
<html>
  <head>
    <title>Poll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= react_component('Header', current_user: current_user, logged_in: logged_in?,)%>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
